<a href="https://colab.research.google.com/github/DilakshanMadhusanka/NLP__/blob/main/ner_tutorials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import spacy

In [ ]:
nlp = spacy.load("en_core_web_sm")

In [ ]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

In [ ]:
doc = nlp(text)

location_tokens = []

for ent in doc.ents:
  if ent.label_ == "GPE":
    location_tokens.append(ent)

print("Geographical location Names: ", location_tokens)
print("Count: ", len(location_tokens))

Geographical location Names:  [Kiran, India, Delhi, Gujarat, Tamilnadu, Andhrapradesh, Assam, Bihar]
Count:  8

In [ ]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

In [ ]:
doc = nlp(text)

birth_dates = []

for ent in doc.ents:
  if ent.label_ == "DATE":
    birth_dates.append(ent)

print("All Birth Dates: ",birth_dates)
print("Count: ", len(birth_dates))

All Birth Dates:  [24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]
Count:  4